{
  "extends": ["prettier", "@antfu"],
  "rules": {
    "no-console": "warn",
    "brace-style": "warn",
    "space-before-function-paren": "warn",
    "arrow-parens": "warn",
    "operator-linebreak": "warn"
  }
}
